* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
    position: relative;
}

body{
    padding-bottom: 50px;
}

div.container h1 {
    color:rgba(0, 0, 0, 0.822);
    display: inline-block;
    padding: 20px 0;
    margin: 25px;
}

.container {
    width: 100vw;
    height: auto;
    /* ----- flex properties ----- */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
/* ----- BUTTON ON TOP OF THE TABLE ---- */
.newProduct {
    height: 30px;
    width: 120px;
    font-size: .92rem;
    font-weight: bold;
    background-color: rgba(6, 255, 255, 0.507);
    color: rgba(0, 0, 0, 0.842);
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;

    /* ---- link position ---- */
    position: relative;
    bottom: 8px;
    left: 4px;
}

.viewWebsite {
    color: rgba(0, 60, 255, 0.884);
    text-decoration: none;

    /* ---- link position --- */
    position: relative;
    bottom: 8px;
    left: 4px;
}

.newProduct:hover {
    background-color: rgba(2, 255, 255, 0.884);
}

.alert {
    border: 1.2px solid rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 6px;
    background-color: rgba(54, 88, 240, 0.507);
}

/* ----- TABLE STYLE ------ */

table {
    border-collapse: collapse;
    border-radius: 10px;
}

.table {
    margin-top: 25px;
    border-collapse: collapse;
}


th, td {
    height: 40px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.534);
    text-align: center;
}

th {
    font-size: .95rem;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.884);
}

td {
    color: black;
    background-color: azure;
}


th:nth-of-type(2), td:nth-of-type(2) {
    width: 350px;
}

th:nth-of-type(1), td:nth-of-type(1) {
    width: 100px;
}

/* ---- Action Column ---- */

.edit, .delete {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.603);
    border-radius: 9px;
    color: white;
    width: 67px;
    height: auto;
}

.edit {
    background-color: rgba(0, 128, 0, 0.842);
}

.delete {
    background-color: rgba(255, 0, 0, 0.856);
}

/* ----- ADD-MODAL.PHP ----- */

.add-modal-box {
    background-color: rgb(245, 245, 245);
    width: 800;
    max-width: 80%;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 2;
    margin: auto;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.add-modal-box.active {
    transform: scale(1);
}

.add-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

div.add-modal-header button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

}

div.add-modal-body {
    padding: 18px 18px 18px 14px;
}

div.add-modal-body-id, div.add-modal-body-name, div.add-modal-body-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
} 

div.add-modal-body-input{
    width: 88%;
    height: 40px;
}

div.add-modal-body-input input {
    background-color: rgba(128, 128, 128, 0.356);
}

#required-name{
    background-color: rgba(247, 247, 247, 0.61);
}

input[type=text] {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 8px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.418);
}

#required-name:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

div.add-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.555);
}

#cancel-button, #publish-button, #update-button {
    background-color: rgba(56, 56, 202, 0.856);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 200ms;
    cursor: pointer;
}


#cancel-button:hover, #publish-button:hover {
    background-color: rgba(0, 0, 0, 0.959);
}

div.add-modal-footer button {
    margin: 0 10px;
    width: 60px;
    height: 25px;
}

#overlay {
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

/* ----- EDIT DELETE MODAL ----- */

.edit-modal-box {
    background-color: rgb(245, 245, 245);
    width: 800;
    max-width: 80%;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 2;
    margin: auto;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.edit-modal-box.active {
    transform: scale(1);
}

/* ----- DELETE MODAL ----- */

.delete-modal-box {
    background-color: rgb(255, 255, 255);
    width: 800;
    max-width: 80%;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 2;
    margin: auto;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.delete-modal-box.active {
    transform: scale(1);
}

.delete-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.delete-modal-header button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;

}

.delete-modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
}

div.delete-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.514);
}

div.delete-modal-footer button, div.delete-modal-footer a{
    font-size: 1rem;
    color: black;
    font-weight: lighter;
    margin: 12px 10px 8px;
    padding: 2px 3px;
    border-radius: 8px;
}

div.delete-modal-footer button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.514);
}

div.delete-modal-footer a {
    border: 1px solid rgba(0, 0, 0, 0.527);
    text-decoration: none;
    color: black;
    background-color: rgba(221, 0, 0, 0.788);
}
